[submodule "faceless-jobs"]
	path = faceless-jobs
	url = https://github.com/fred-codesphere/faceless-jobs.git
[submodule "faceless-server"]
	path = faceless-server
	url = https://github.com/fred-codesphere/faceless-server.git
